[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
loguru = "*"
azure-functions = "*"
azure-storage-blob = "*"
azure-identity = "*"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
build = "docker build -t my-azure-function-app ."
scrape = "docker run --rm -it my-azure-function-app"
main = "python -m src.main"