[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
loguru = "*"
azure-functions = "*"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
main = "python -m webcrawler.main"
